{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "UTF-8 Unicode (with BOM) text, with CRLF line terminators",
  "mode": "-rwxrwxrwx",
  "sha1": "c46100818ae9f940f035fa4610c1d3472b11604d"
}